.DS_store

*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
oclif.manifest.json
.lokal

example/service1
example/service2
example/charts/mongodb/charts
example/charts/mongodb/chart.lock
